@font-face {
  font-family: 'Inconsolata';
  src: url(./fonts/Inconsolata.ttf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f7f7f7;
  height: 100vh;
}

* {
  font-family: 'Inconsolata', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
